@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;700;900&diplay=swap";

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  margin: 0;
  font-family:  'Poppins', sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  display: flex;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.grid-container > * {
  box-shadow: 10px 6px 37px -13px rgba(51,51,51, 0.75);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}
.grid-container{
  display: grid;
  gap: 10px;
  grid-template:
  "header" 200px
  "navbar" 50px
  "main" 100px
  "sidebar"
  "footer"
  ;
  .header {
      grid-area: header;
      background-color: #67f2e3;
  }
  .navbar {
      grid-area: navbar;
      background-color: #2e2f32;
  }
  .sidebar {
      grid-area: sidebar;
      background-color: #7af18f;
  }
  .main {
      grid-area: main;
      background-color: #2ca2ff;
  }
  .footer {
      grid-area: footer;
      background-color: #c17d56;
  }
  @media (min-width: 768px) {
      grid-template:
      "header header" 60px
      "navbar navbar" 40px
      "sidebar main" auto
      "footer footer" 100px
      ;
  }
}


